body {
	background-color: lightgray;
}
h1 {
	margin-top: 16px;
}

/* This is the shittiest css I've ever done. */
/* PS: I didn't do much css */
.inline {
	display: inline-block;
	position: relative;
}
.mapSelect {
	transform: translate(50%, -300%);
}

button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
}

.horizontalRay button {
	background-color: #af4c4c;
}
.verticalRay button {
	background-color: #008cba;
}
#Main,
#Text,
#HorizontalRayText,
#VerticalRayText,
#RayText {
	border: 2px solid yellow;
}
